{% extends 'layout.twig' %}

{% block main %}
  <section class="section">
    <div class="container">
      <div class="columns has-text-centered is-centered is-vcentered">
        <div class="column">
          <h1 class="is-size-1">Success.</h1>
          <p class="is-size-5">Thank you for registering for the think.green newsletter.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}