{% extends 'layout.twig' %}

{% block title %}Save the planet in your daily life{% endblock %}

{% block main %}
  <section class="section">
    <div class="container">
      <div class="columns has-text-centered is-centered is-vcentered">
        <div class="column">
          <h1 class="is-size-1">
            Everyone can be a <span class="has-text-logo-green">superhero</span>.
          </h1>

          <p>
            The earth needs us more than ever before. With think.green you can save the world by changing your daily
            life.
          </p>
        </div>
        <div class="column is-vcentered">
          <figure class="image iphone">
            <picture>
              <source srcset="/images/iphone.webp" type="image/webp">
              <source srcset="/images/iphone.png" type="image/png">
              <img src="/images/iphone.png" width="300" height="614"
                   alt="think.green app running on an Apple iPhone 11">
            </picture>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns has-text-centered is-centered is-vcentered">
        <div class="column is-half">
          <form method="post" action="/register-mail">
            <h1 class="is-size-1">
              <label for="email">Sign up now! Saving the planet is free!</label>
            </h1>

            <p>
              Get more information, be the first to know about the release and get exclusive access to the beta version
              as soon as it is available - subscribe to our newsletter!
            </p>
            <div class="field">
              <div class="control">
                <input id="email" class="input has-text-centered {% if success == false %}is-danger{% endif %}"
                       type="email" name="email" placeholder="alex.smith@gmail.com">
              </div>
              {% if success == false %}
                <p class="help is-danger">This email address is already registered</p>
              {% elseif success == true %}
                <p class="help is-success">Your email has been successfully registered. You will be informed about the
                                           latest updates.</p>
              {% endif %}
            </div>

            <div class="field">
              <p class="control">
                <button class="button has-background-logo-green has-text-weight-semibold">Get green</button>
              </p>
            </div>

            <p class="is-size-7 has-text-grey-light">
              Info: You can unsubscribe at any time. Your email address is only used to send the newsletter. For more
              information see our <a href="privacy-policy">privacy policy</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
