<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>think.green</title>
  <link rel="stylesheet" href="stylesheets/external/bulma.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
<nav class="navbar is-transparent mt-3">
  <div class="navbar-brand navbar-brand-center">
    <a class="navbar-item has-logo-font is-size-3 has-text-centered has-text-weight-normal" href="/">
      think.<span class="has-text-logo-green">green</span>
    </a>
  </div>
</nav>
<main>
  {% block main %}{% endblock %}
</main>
<footer class="has-text-centered mb-4">
  <a href="legal-notice">Legal Notice</a> | <a href="privacy-policy">Privacy Policy</a>
</footer>
</body>
</html>
