@font-face {
  font-family: 'Spartan';
  src: url('../fonts/Spartan-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 1 999;
}

body {
  max-width: 750px;
  margin: auto;
  color: #707070;
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

a.button {
  text-decoration: none;
}

h1 {
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
}

blockquote {
  font-style: italic;
}

.has-logo-font {
  font-family: Spartan, sans-serif;
}

.has-text-logo-green {
  color: #9cd16e;
}

.has-background-logo-green {
  background-color: #9cd16e;
  color: white;
  border: none;
}

.overflow-hidden {
  overflow: hidden;
}

.has-reversed-row-flex-direction {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.quote-symbol {
  display: block;
  font-size: 10rem;
  height: 5rem;
  line-height: 10rem;
}

.navbar.is-transparent {
  background-color: transparent;
}

.navbar-brand.navbar-brand-center {
  justify-content: center;
  width: 100%;
}

.navbar-brand a:hover {
  color: inherit;
}

.iphone-mockup-container {
  height: 26rem; /* Approximately height of .iphone-mockup */
}

.iphone-mockup {
  width: 47rem;
  /* Center oversized image for mobile devices */
  position: absolute;
  left: 50%;
  margin-left: -21rem; /* A bit less than half of the image width */
}

.iphone-front {
  width: 17rem;
  filter: drop-shadow(5px 10px 15px rgba(0, 0, 0, 0.2));
}

.sources p {
  margin-bottom: 1rem;
}

#logo {
  width: 15rem;
  max-height: none;
}

/* Everything which is not mobile */
@media screen and (min-width: 769px) {
  .is-pulled-left-no-mobile {
    float: left;
  }

  .is-pulled-right-no-mobile {
    float: right;
  }

  .has-negative-offset-top-no-mobile {
    margin-top: -12rem;
  }

  .is-pulled-right-by-margin-no-mobile {
    margin-left: auto;
  }

  .iphone-mockup {
    left: -7.5rem;
    margin-left: 0;
  }
}

/* Mobile only */
@media screen and (max-width: 768px) {
  .is-centered-by-margin-mobile {
    margin-left: auto;
    margin-right: auto;
  }
}